pnpm.onlyBuiltDependencies[]=esbuild
pnpm.onlyBuiltDependencies[]=@rolldown/binding-darwin-arm64
pnpm.onlyBuiltDependencies[]=electron
only-built-dependencies="[\"electron\",\"esbuild\",\"@rolldown/binding-darwin-arm64\"]"
node-linker=hoisted
